.messages {
  height: 100%;
  overflow-y: scroll;

  ul {
    padding: 0;

    li {
      display: flex;
      align-items: flex-start;

      list-style: none;
      margin: 10px;

      &.client {
        justify-content: flex-end;

        span.message-wrapper {
          text-align: right;

          span.message {
            background-color: #003912;
          }
        }
      }

      span.message-wrapper {
        max-width: 65%;

        span.user-name {
          display: block;
          padding: 2px 5px;
        }

        span.message {
          background-color: #333;
          border-radius: 3rem;
          color: #fefefe;
          display: inline-block;
          padding: 1.5rem 2rem;
        }
      }

      span.user-circle {
        background-color: #ccc;
        border-radius: 50%;
        color: #c0c0c0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7.6rem;
        min-width: 7.6rem;
        width: 7.6rem;
        padding: 0;
        overflow: hidden;

        &.client {
          margin-left: 10px;
        }

        &.server {
          margin-right: 10px;
        }
      }
    }
  }
}
