.App {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  max-width: 1200px;
  padding: 2rem;

  header {
    margin: 1rem 0 3rem;

    &.login {
      text-align: center;
    }

    h1 {
      display: inline-block;
      margin: 0;

      > span {
        display: block;
        padding-left: 0.5rem;
        text-align: left;
      }
    }
  }

  main.chat {
    overflow: hidden;
  }
}

section {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }

  .create,
  .join {
    background-color: #e5e5e5;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    display: inline-block;
    flex-grow: 1;
    min-width: 280px;
    padding: 3rem 4rem 4rem;
    text-align: center;

    @media (min-width: 576px) {
      min-width: 384px;
    }

    @media (min-width: 768px) {
      min-width: 354px;
    }
  }

  .create {
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      margin-right: 2rem;
      margin-bottom: 0;
    }
  }

  form:not(.submit-message) {
    input {
      --height: 50px;
      border: 0;
      border-radius: calc(var(--height) * 0.5);
      display: block;
      font-size: 1.6rem;
      margin: 0 auto 2rem;
      width: 220px;
      padding: 1.5rem 2rem;
      outline: none;

      &::placeholder {
        color: #aaa;
      }

      &[name='roomName'] {
        margin-bottom: 4rem;
      }
    }

    button {
      --height: 60px;
      border: 0;

      border-radius: calc(var(--height) * 0.5);
      background-color: #003912;
      color: #fefefe;
      font-size: 1.7rem;
      height: var(--height);
      padding: 1.5rem 3rem;

      &:hover {
        opacity: 0.88;
      }
    }
  }

  &.chat {
    display: flex;
    height: 100%;
  }
}

.chat-box {
  background-color: #eaeaea;
  border: 1px solid #e5e5e5;
  border-radius: 4rem;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  max-width: 800px;
  width: 100%;
  padding: 2rem 2rem 11rem;
  position: relative;

  @media (min-width: 768px) {
    width: 80%;
  }

  .send-message {
    --height: 80px;
    background-color: #fff;
    border-radius: calc(var(--height) * 0.5);
    height: var(--height);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .submit-message {
      display: flex;

      > * {
        border: 0;
      }

      textarea {
        background-color: transparent;
        font-size: 1.6rem;
        flex-grow: 1;
        outline: none;
        padding: 1rem 1rem 1rem 4rem;
        resize: none;

        &::placeholder {
          color: rgba($color: #fefefe, $alpha: 0.4);
        }
      }

      button {
        --height: 6rem;
        background-color: #003912;
        border-radius: calc(var(--height) * 0.5);
        color: #fefefe;
        font-size: 1.7rem;
        height: var(--height);
        width: var(--height);
        margin: 1rem;
        padding: 2rem 1rem;

        &:hover {
          opacity: 0.88;
        }
      }
    }
  }
}
